name: Rust Contracts

on:
  push:
    branches:
      - master
  pull_request:

env:
  RUST_BACKTRACE: full
  MSRV: 1.76.0

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.MSRV }}
          override: true
          target: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@v2
        with:
          key: rust-version-${{ env.MSRV }}-msrv-2

      - name: add wasm32-unknown-unknown
        run: rustup target add wasm32-unknown-unknown

      - name: cargo test
        run: cargo test --workspace --all-features

  lint:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.MSRV }}
          override: true
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2
        with:
          key: rust-version-${{ env.MSRV }}-msrv-2

      - name: cargo fmt
        run: cargo fmt --all -- --check

      - name: cargo clippy
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings
